
.checkbox {
    width: 14px;
    height: 14px;
}
/* css style cho label chèn vào trước phần tử có class checkox */
.checkbox+label::before {
    content: "";
    width: 14px;
    height: 14px;
    display: inline-block;
    background: url('../../assets/icon/qlts-icon.svg') no-repeat -113px -377px;
    cursor: pointer;
    position: relative;
    vertical-align: bottom;
}
/* khi checkbox checked thì chèn phần tử label vào trước  */
.checkbox:checked+label::before {
    width: 14px;
    height: 14px;
    background: url('../../assets/icon/qlts-icon.svg') no-repeat -157px -377px;
    cursor: pointer;
    border-style: none;
}
.checkbox {
    position: absolute;
    opacity: 0;
}
/* khi hover vào checkbox thì viền border sẽ nổi lên (checkbox đang ở trạng thái defaut) */
.checkbox:hover+label::before {
    border-radius: 2px;
    background-color: #FFFFFF;
    box-shadow: 0 0 0 2px #a7d0dc;
}
/* khi hover vào checkbox thì viền border sẽ nổi lên (checkbox đang ở trạng thái checked) */
.checkbox:checked:hover+label::before {
    border-radius: 2px;
    box-shadow: 0 0 0 2px #a7d0dc;
}

