/* style for main content of website */
.content {
    outline: none;
    flex: 1;
    background-color: #f4f7ff;
    padding: 14px 21px 21px 21px;
}

.content-bottom {
    outline: none;
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .16);
    border-radius: 4px;
    border: 1px solid #c4c3c3;
}

/* filter contain input filed to perform filter table data */
.filter {
    max-height: 40px;
    gap: 10px;
    display: flex;
}


/* data action contain button__add to add new , button excel , button delete */
.data-action {
    height: 36px;
    gap: 10px;
}



/* style for input search in filter  */
.filter__search--input{
    display: flex;
    border-radius: 4px;
    border: 1px solid #afafaf;
}
.filter__search--input .input__field{
    box-sizing: border-box; 
    flex: 1;
    outline: none; 
    border: unset;
    border-radius: 4px;
    padding: 0px 12px 0px 0px;
}
.filter__search--input .ms-36{
    background-color: #FFF;
    height: 36px;
    width: 36px;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;

}
.filter__search--input:hover ,
.filter__search--input:has(.input__field:hover),
.filter__search--input:has(.input__field:focus){
    border: 1px solid #1aa4c8;
}
.filter .input-group__content:has(.input__field:focus){
    outline: none !important;
    border: unset !important;
}
.content {
    display: flex;
    flex-direction: column;
  }
  .content-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 14px 0px;
  }
  .filter {
    display: flex;
    flex-direction: row;
  }
  .filter__search--input {
    display: flex;
  }
  .data-action {
    display: flex;
    flex-direction: row;
    align-items: center;
  }